{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <div class="bg-gray-800 text-white  max-w-md mx-auto mt-10 p-6 rounded-lg shadow-lg">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Change Password" class="my-2 px-3 py-1 bg-amber-600 text-white rounded-lg hover:bg-amber-700 cursor-pointer">
        </form>
    </div>
{% endblock %}