<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1>About me</h1>
    <p>I’m Trishon Parrilla, an aspiring software engineer with an IT ops background who honestly just loves messing around with how things work under the hood. When I’m not deep in a personal project like building my own website or messing with SQL databases, I’m usually in World of Warcraft pushing high level raids on my Augmentation Evoker or tinkering with modded Minecraft servers. I’m a big hardware nerd, so I spend a fair amount of time fine tuning my PC and troubleshooting server scripts just to keep everything running exactly how I want it. For me, whether it’s coding or gaming, I’m at my best when I’m solving a complex problem or automating something to make life easier.</p>
</body>
</html>