{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% block title %}
    Home page
{% endblock %}

{% block content %}
<div class="flex flex-row gap-1">
    <div class="mx-5">
        <div class="flex flex-col">
            <img class="w-50 h-40 object-cover self-start mt-8 rounded-lg" src="https://images.unsplash.com/vector-1775304122137-f0762ab9590e?q=80&w=1642&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
            <img class="w-50 h-40 object-cover self-start mt-8 rounded-lg" src="https://images.unsplash.com/vector-1759538102369-dc0ba70df32f?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
            <img class="w-50 h-40 object-cover self-start mt-8 rounded-lg" src="https://images.unsplash.com/vector-1759549084841-c38debfdc406?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
        </div>
    </div>
    <div class="flex flex-col w-1/3">
        <div class="flex w-full mt-8 p-6   bg-[#1e293b] rounded-lg shadow-md text-[#94a3b8] hover:transform hover:scale-105 transition duration-300">
            <div class="flex flex-col gap-3">
                <h1 class="text-lg font-bold text-[#ffffff]">Innovate</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique iste blanditiis porro quos enim suscipit quas in 
                atque perferendis, dolore corrupti libero expedita facere sit.</p>
            </div>
        </div>
        <div class="flex w-full  mt-8 p-6   bg-[#1e293b] rounded-lg shadow-md text-[#94a3b8] hover:transform hover:scale-105 transition duration-300">
            <div class="flex flex-col gap-3">
                <h1 class="text-lg font-bold text-[#ffffff]">Collaborate</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique iste blanditiis porro quos enim suscipit quas in 
                atque perferendis, dolore corrupti libero expedita facere sit.</p>
            </div>
        </div>
        <div class="flex w-full  mt-8 p-6   bg-[#1e293b] rounded-lg shadow-md text-[#94a3b8] hover:transform hover:scale-105 transition duration-300">
            <div class="flex flex-col gap-3">
                <h1 class="text-lg font-bold text-[#ffffff]">Create</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique iste blanditiis porro quos enim suscipit quas in 
                atque perferendis, dolore corrupti libero expedita facere sit.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

